{% include 'header.html' %} {% load static %}

<main class="content">
  <div class="row">
    <div class="col-12">
        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
          <div class="col-12">
            <div class="row">
                <div class="page-title-end col">
                    <ol class="breadcrumb">
                        <h2 class="fw-semibold display-8 mb-0">Department</h2>
                    </ol>
                </div>
            </div>
          </div>                                    
        </div>
    </div>
</div>
  <div class="card">
    <div class="card-body">
      <h4 class="card-title mb-4">Active Department</h4>

      <form>
        <div class="row mb-4">
          <label
            for="horizontal-firstname-input"
            class="col-sm-3 col-form-label"
            >Department</label
          >
          <div class="col-sm-9">
            <select  name="department" id="department_m" class="form-control" id="">
              <option selected class="form-control">--select--</option>
              {% for i in obj %}
              <option value="{{i.department}}" class="form-control">{{i.department}}</option>
              {% endfor %}
            </select>
          </div>
        </div>
        <div class="row mb-4">
          <label for="horizontal-email-input" class="col-sm-3 col-form-label"
            >Discription</label
          >
          <div class="col-sm-9">
            <textarea
              type="text"
              class="form-control"
              id="discription_m"
              placeholder="Discription"
            ></textarea>
          </div>
        </div>
        <div class="row mb-4">
          <label for="horizontal-password-input" class="col-sm-3 col-form-label"
            >Status</label
          >
          <div class="col-sm-9">
            <select name="status" id="status" class="form-control" id="">
              <option value="Active" class="form-control">Active</option>
              <option value="Active" class="form-control">Inactive</option>
              <option value="Active" class="form-control">None</option>
            </select>
          </div>
        </div>

        <div class="row justify-content-end">
          <div class="col-sm-9">
            <div>
              <button type="button" onclick="save_department()" class="btn btn-success w-md">Add Department</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <!-- end card body -->
  </div>
</main>

<script>
  function save_department() {
    var department = $("#department_m").val();
    var discription = $("#discription_m").val();
    var status = $("#status").val();
    

    if (department == "") {
      $("#employee_id_error").show();
    }	
    else if (discription == "") {
      $("#employee_name_error").show();
    } 
    else if (status == "") {
      $("#email_error").show();
    } 
    
     
    else{
        $.ajax({
            method:"POST",
            url: "/save_department/",
            data : {
                department,
                discription,
                status
            },
            success:function (response){
                if (response == "success"){
                    swal("Department Added", {
                    icon: "success",
                    button: "Ok",
                    closeOnClickOutside: false,
                })
                success:function (response){
                if (response == "success"){
                    swal("Department Delete", {
                    icon: "success",
                    button: "Ok",
                    closeOnClickOutside: false,
                })
                department.val()
                discription.val()
                status.val()
                }else{
                    swal("Try again Later", {
                    icon: "warning",
                    button: "Ok",
                    closeOnClickOutside: false,
                    })
                department.val()
                discription.val()
                status.val()
                }
            }   
        })
    }
  }

  function remove_employee_name() {
    $("#employee_name_error").hide();
  }
  function remove_number() {
    $("#contact_number_error").hide();
  }
  function remove_employee_id() {
    $("#employee_id_error").hide();
  }
  function remove_address() {
    $("#address_error").hide();
  }
  function remove_email() {
    $("#email_error").hide();
  }
</script>


{% include 'footer.html' %}
