{% load static %}
{% include 'header.html' %}
<main class="content">
    <div class="main-content">

        <div class="page-content">
            <div class="container-fluid">

                <!-- start page title -->
                <div class="row">
                    <div class="col-12">
                        <div class="page-title-box d-sm-flex align-items-center justify-content-between">
                          <div class="col-12">
                            <div class="row">
                                <div class="page-title-end col">
                                    <ol class="breadcrumb">
                                        <h2 class="fw-semibold display-6 mb-0">Manage Schedule</h2>
                                    </ol>
                                </div>
                                <div class="col-2">
                                
                                  <button type="button" onclick="new_schedule_modal()" class="btn btn-primary" >Set New Schedule</button>
                                </div>
                            </div>
                          </div>                                    
                        </div>
                    </div>
                </div>
<br>
                <div class="row">
                    <div class="col-12">
                        <div class="card">
                            <div class="card-body">
                                <table id="datatable" class="table table-bordered dt-responsive  nowrap w-100">
                                    <thead>
                                    <tr>
                                        <th>Department</th>
                                        <th>Doctor</th>
                                        <th>Available Days</th>
                                        <th>Available Time</th>
                                        <th>End Time</th>
                                        <th>Status</th>
                                        <th>Actions</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                        {% for i in obj %}
                                  <tr>                             
                                    <td>{{i.fk_department.department }}</td>
                                    <td>{{i.fk_doctor.dr_name }}</td>
                                    <td>{{i.available_days }}</td>
                                    <td>{{i.available_time }}</td>
                                    <td>{{i.end_time }}</td>
                                    <td>{{i.status }}</td>
                      <td>
                      <a class="btn btn-icon icon-left btn-primary btn-sm"style="background-color: transparent;outline: none;background-repeat: no-repeat; border: none;overflow: hidden;" href = "/edit_schedule/{{i.id}}"><i class='fas fa-edit' style='color: black'></i></a>
                      <a class="btn btn-icon icon-left btn-danger btn-sm" style="background-color: transparent;outline: none;background-repeat: no-repeat; border: none;overflow: hidden;"><i class='fa fa-trash' style='color: red' onclick = "delete_schedule('{{i.id}}')" ></i></a>
                                       
                                   </td>
                                  </tr>
                                  {% endfor %}
                                </tbody>
                                </table>
                                <input type="hidden" id="teacher_id" value="{{teacher_id}}">
                                <input type="file" id="csv_file" onchange="save_csv_file_data()" accept=".csv" hidden/>
                            </div>
                        </div>
                    </div> <!-- end col -->
                </div>
            </div> 
        </div>
    </div>
</main>
<script src="{% static 'assets/libs/jquery/jquery.min.js' %}"></script>

<script>
    function save_schedule_model() {
        var fk_department = $("#fk_department_s").val();
        var fk_doctor = $("#fk_doctor_s").val();
        var available_days = $("#available_days").val();
        var available_time = $("#available_time").val();
        var end_time = $("#end_time").val();
        var per_patient_time = $("#per_patient_time").val();
        var status = $("#status").val();
  
        console.log(fk_department)
        console.log(fk_doctor)
        console.log(status)
  
    
        if (fk_department == "") {
          $("#employee_id_error").show();
        }	
        else if (fk_doctor == "") {
          $("#employee_name_error").show();
        } 
        else if (available_days == "") {
          $("#email_error").show();
        } 
        else if (available_time == "") {
          $("#email_error").show();
        } 
        else if (end_time == "") {
          $("#email_error").show();
        } 
        else if (per_patient_time == "") {
          $("#email_error").show();
        } 
        else if (status == "") {
          $("#email_error").show();
        }  
        else{
            $.ajax({
                method:"POST",
                url: "/save_schedule/",
                data : {
                  fk_department,
                  fk_doctor,
                  available_days,
                  available_time,
                  end_time,
                  per_patient_time,
                  status
                },
                success:function (response){
                    if (response == "success"){
                        swal("Schedule has been set", {
                        icon: "success",
                        button: "Ok",
                        closeOnClickOutside: false,
                    }).then(function(){
                        location.reload()
                    })
                    }else{
                        swal("Try again Later", {
                        icon: "warning",
                        button: "Ok",
                        closeOnClickOutside: false,
                        })
                    department.val()
                    discription.val()
                    status.val()
                    }
                }   
            })
        }
      }
    
      function delete_schedule(id){
    console.log(id)
    swal({
      title: "Are you sure to Delete this?",
      text: "",
      icon: "warning",
      buttons: ["No", "Yes"],
      dangerMode: true,
    })
    .then((willDelete) => {
      if (willDelete) {
        $.ajax({
          method : "POST",
          url : "/delete_schedule/",
          data : {
            'id':id
            },
          success : function(response){
            if (response == "success"){
              swal("Schedule deleted successfully", {
              icon: "success",
              button: "Ok",
              closeOnClickOutside: false,
              }).then(function() {
                location.reload();
              });
            }
          }
        });
      }
    });
  }

      
    </script>

{% include 'footer.html' %}